[login]
username=<Enter_username for pantheon2 login>
password=<Enter_password for pantheon2 login>

[uploader]
username=<enter username for pantheon uploader>
password=<enter password for pantheon uploader>

[admin_login]
username=<enter admin username required for teardown operations>
password=<enter admin password required for teardown operations>

[qa]
base_url=https://qa.example.com/

[stage]
base_url=https://stage.example.com/

[dev]
base_url=https://stage.example.com/

[prod]
base_url=https://prod.example.com/

[test_mode]
headless=yes  #If you don't want your tests to run in headless mode, change the value to 'no'.

[test_repo]
test_repo_url=<URL for test repo to be used, this is a required value for the tests to execute>
repo_name=<Repository name as mentioned in pantheon2.yml in the above test repo>

[git_import_test_repo]
git_import_repo_url=<URL for test repo to be used, this is a required value for the tests to execute>
git_import_repo_name=<Repository name as mentioned in pantheon2.yml in the above test repo>

