[login]
username=<Enter_username>
password=<Enter_password>

[qa]
base_url=https://qa.example.com/

[stage]
base_url=https://stage.example.com/

[dev]
base_url=https://stage.example.com/

[prod]
base_url=https://prod.example.com/

[test_repo]
test_repo_url=<URL for test repo to be used, this is a required value for the tests to execute>
repo_name=<Repository name as mentioned in pantheon2.yml in the above test repo>

[git_import_test_repo]
git_import_repo_url=<URL for test repo to be used, this is a required value for the tests to execute>
git_import_repo_name=<Repository name as mentioned in pantheon2.yml in the above test repo>

